Package: com.insanj.activealarm
Name: ActiveAlarm
Depends: mobilesubstrate, libactivator
Version: 1.0.1
Architecture: iphoneos-arm
Description: Open to specific Clock app tabs.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Activator/Listeners/libactivator.ActiveAlarmClock/Icon-small@2x.png
